In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\python311\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\python311\lib\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
import mysql.connector as connector

In [4]:
connection = connector.connect(user = "db-capstone-user", password = "nas-my-way.mccarthy-blood-meridian.")

In [3]:
connection = connector.connect(user = "db-capstone-user", password = "nas-my-way.mccarthy-blood-meridian.", db = "littlelemondb")

In [4]:
# create a cursor object
cursor = connection.cursor()
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [5]:
# retrieve the query outcomes in a variable 'results'
results = cursor.fetchall()
# use for loop to print the names of all the tables
for table in results:
    print(table)

('address',)
('bookings',)
('category',)
('cuisinecategory',)
('customers',)
('delivery',)
('littlelemonjoinview',)
('littlelemonsubqueryview',)
('menuitems',)
('menus',)
('notifications',)
('orders',)
('ordersview',)
('staff',)

In [16]:
# Customers (CustomerID, FirstName, LastName, Email, ContactNumber)
# Orders (OrderID, OrderDate, Quantity, TotalCost, CustomerID, MenuID)

select_stmt = """
Select concat(c.FirstName, ' ', c.LastName) as FullName, c.Email, c.ContactNumber 
from Customers as c
inner join Orders as o on o.CustomerID = c.CustomerID
where o.TotalCost > 60
order by o.TotalCost desc;
"""
cursor.execute(select_stmt)

# Retrieve column names
cols = cursor.column_names

# Fetch all results that satisfy the query
results = cursor.fetchall()

# Print column names and distinct records from results using for loop
print("""Data in the "Customers" table: The full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign.""")
print(cols)

distinct_results = set(results)
for distinct_result in distinct_results:
    print(distinct_result)

Data in the "Customers" table: The full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign.
('FullName', 'Email', 'ContactNumber')
('Mario Lopez', 'Lopez.Mario@abc.com', '213-458-2055')